{% extends "base.html" %}

{% block title %}commissions{% endblock %}
{% block desc %}terms of service and prices for my commissions{% endblock %}

{% block content %}

    <h2>terms of service</h2>

    <ul>
        <li>all commissions MUST be paid for upfront via your preferred method
            <ul><li>no refunds once commission has been started</li></ul></li>
        <li>i reserve the right to decline or cancel any commission/request</li>
        <li>i will draw furries, humans, and anything inbetween
            <ul><li>anything involving non-anthro characters MUST BE SFW!</li></ul></li>
        <li>i will draw NSFW as long as all involved are 18+</li>
        <li>WILL NOT draw complex mecha or extreme gore</li>
        <li>i will do private commissions for a slight upcharge</li>
    </ul>

    <p>
        <b>please have visual references and details ready!
        <br>do not hesitate to point out any mistakes or missed details on my part!</b>
    </p><p>
        <b>commissions usually take 1-2 months to complete due to my full time job
        <br><a href="https://trello.com/b/VHGlBz7f/commissions">click here to see my progress!</a>
    </b></p>
    
    <div class="inner comms" id="prices">
    
    <p><b>actual prices will usually vary! these are just baselines</b>
    <br>each additional character is +50% of the base price</p>
        
        <h2>fullbody</h2>
        <p><b>sketch $90<br>lined &amp; shaded $110</b></p>
            <img src="/static/img/art/2023/fruity cupid.png" width="500" height="320">

        <div class="row">
        <div class="column">
            <h2>halfbody</h2>
            <p><b>sketch $65<br>lined &amp; shaded $80</b></p>
                <img src="/static/img/art/2023/commission for jaffaa.png" width="375" height="320">
                
        </div><div class="column">
            <h2>headshot</h2>
            <p><b>sketch $35<br>lined &amp; shaded $50</b></p>
                <img src="/static/img/art/2024/new cupid pfp.png" width="320" height="320">
        </div></div>
    <br>
    
    <p><b>each example above is detailed, fully lined, and shaded</b>
    <br>further examples can be seen in my <a href="/gallery">gallery!</a></p>

    </div>

{% endblock %}