{% extends "base.html" %}

{% block title %}commissions{% endblock %}
{% block desc %}terms of service and prices for my commissions{% endblock %}

{% block content %}

    <h2>terms of service</h2>

    <ul>
        <li>all commissions MUST be paid for upfront via your preferred method
            <ul><li>no refunds once commission has been started</li></ul></li>
        <li>i reserve the right to decline or cancel any commission/request</li>
        <li>i will draw furries (anthro/feral), humans, and anything inbetween
            <ul><li>anything involving non-anthro characters MUST BE SFW!</li></ul></li>
        <li>i will draw NSFW as long as all involved are 18+</li>
        <li>WILL NOT draw complex mecha or extreme gore</li>
        <li>i am happy to do private commissions for a slight upcharge</li>
    </ul>

    <p>
        <b>please have visual references and details ready!
        <br>do not hesitate to point out any mistakes or missed details on my part!</b>
        <br><br><b>commissions may take between a few weeks to a few months
        <br><a href="https://trello.com/b/VHGlBz7f/commissions">commission progress can be seen here</a>
    </b></p>

    <br>
    
    <div class="inner comms" id="prices">
    
    <p><b>actual prices will usually vary! these are just baselines.</b>
    <br>each additional character is +50% of the base price</p>
        
        <h2>fullbody</h2>
        <p><b>sketch $90<br>lined &amp; shaded $110</b></p>
            <img src="/static/img/art/fruity cupid.png" width="500" height="320">

        <div class="row">
        <div class="column">
            <h2>halfbody</h2>
            <p><b>sketch $65<br>lined &amp; shaded $80</b></p>
                <img src="/static/img/art/commission for jaffaa.png" width="375" height="320">
                
        </div><div class="column">
            <h2>headshot</h2>
            <p><b>sketch $35<br>lined &amp; shaded $50</b></p>
                <img src="/static/img/art/commission for bigteethbite.png" width="360" height="320">
        </div></div>
    <br>
    
    <p>each example above is detailed and shaded. further examples can be seen in my gallery!</p>

    </div>

{% endblock %}