{% extends "base.html" %}

{% block title %}cupid{% endblock %}
{% block desc %}my fursona{% endblock %}

{% block extra %}
	<meta property="og:image" content="/static/img/art/2022/CUPID REFERENCE SHEET V2.png"/>
	<meta name="twitter:image" content="/static/img/art/2022/CUPID REFERENCE SHEET V2.png">
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}

    <span class="ref">
        <p>gift art is always appreciated!<br>please ask before making anything nsfw or otherwise objectionable</p>
        <a href="/static/img/art/2022/CUPID REFERENCE SHEET V2.png"><img src="/static/img/art/2022/CUPID REFERENCE SHEET V2.png" height="414" width="627"/></a>
        
        <h4>last updated February 11, 2025</h4>
    </span>


{% endblock %}