{% extends "base.html" %}

{% block title %}gallery{% endblock %}
{% block desc %}a non-comprehensive gallery of my artwork{% endblock %}

{% block content %}
    
    <p>this is a non-comprehensive gallery of my artwork<br>most of my art was made in microsoft paint, but any exceptions will be specified!</p>
    <p><b>clickable images will send you to their associated posts!</b></p>
    
    <div class="gallery inner">
        {% for art in art_list %}
            <div>
                {%- if art["link"] %}<a target="_blank" href="{{ art["link"] }}">{% endif %}
                <img src="static/img/art/{{ art["filename"] }}" alt="" width="auto" height="auto" loading="lazy"/>
                {%- if art["link"] %}</a>{%- endif %}
                <div><b>{{ ff.get_date(art) }}</b><br><span>{{ ff.get_type(art) }}</span></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}