{% extends "base.html" %}

{% block title %}cupid{% endblock %}

{% block content %}

    <p>welcome to my homepage! here you can view commission information and find my other socials :3</p>

    <br>

    <div class="socials">
        <a class="button" href="https://twitter.com/featherk1ss"><img src="/static/img/twitter.gif"></a>
        <a class="button" href="https://bsky.app/profile/featherk1ss.art"><img src="/static/img/bsky.gif"></a>
        <a class="button" href="https://featherk1ss.tumblr.com/"><img src="/static/img/tumblr.gif"></a>
        <a class="button" href="https://ko-fi.com/featherk1ss"><img src="/static/img/kofi.gif"></a>
    </div>

    <br><br><br><img src="/static/img/blingus.png">
    <p>made with love by <a href="https://elisttm.space/">@elisttm</a></p>
    <a href="https://github.com/elisttm/cupid"><p>this site is open source!</p></a>

{% endblock %}