{% extends "base.html" %}

{% block title %}cupid{% endblock %}

{% block content %}

    <p>
        welcome to the cupid featherk1ss homepage where you can see commission information and find my other socials :3
        <br><br><b>this site is currently under heavy construction so most things will not work or appear as intended!!</b>
    </p>

    <br>

    <div class="socials">
        <a class="button" href="https://twitter.com/featherk1ss"><img src="/static/img/twitter.gif"></a>
        <a class="button" href="https://bsky.app/profile/featherk1ss.art"><img src="/static/img/bsky.gif"></a>
        <a class="button" href="https://featherk1ss.tumblr.com/"><img src="/static/img/tumblr.gif"></a>
        <a class="button" href="https://ko-fi.com/featherk1ss"><img src="/static/img/kofi.gif"></a>
    </div>

    <br><br><br><img src="/static/img/blingus.png">
    <p>made with love by <a href="https://elisttm.space/">@elisttm</a></p>

{% endblock %}