{% extends "base.html" %}

{% block content %}

    <h3>welcome to my website!</h3>
    <p>this site hosts my commission info and a gallery of my art.
    <br>you can find links to my other socials below!</p>

    <br>

    <div class="socials">
        <a class="button" href="https://twitter.com/featherk1ss"><img src="/static/img/twitter.gif"></a>
        <a class="button" href="https://bsky.app/profile/featherk1ss.art"><img src="/static/img/bsky.gif"></a>
        <a class="button" href="https://featherk1ss.tumblr.com/"><img src="/static/img/tumblr.gif"></a>
        <a class="button" href="https://discord.gg/EeKRU95SSk"><img src="/static/img/discord.gif"></a>
        <a class="button" href="https://ko-fi.com/featherk1ss"><img src="/static/img/kofi.gif"></a>
    </div>

    <img src="/static/img/blingus.png">
    <p>site by <a href="https://elisttm.space/">@elisttm</a> (<a href="https://github.com/elisttm/featherk1ss.art">source code</a>)</p>

{% endblock %}